@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  background-image: url('/background.gif') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}